[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 13.0
[submodule "exhibit13"]
	path = exhibit13
	url = git@git.vauxoo.com:vauxoo/exhibit13.git
	branch = 13.0
[submodule "l10n-mx-edi-40"]
	path = l10n-mx-edi-40
	url = git@git.vauxoo.com:vauxoo/l10n-mx-edi-40.git
	branch = 13.0
